

body {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow: scroll;
}
#taskinput{
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
#addtask{
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.remove-btn{
    position: relative;
    opacity: 0.9;
    background-color: red;
    font-size: large;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    right:-250px;

}
#container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top:0%;
    padding: 20px;
    border: 1px white solid;
    text-align: center;
    border-radius: 5px;
    display: grid;
}
.taskdiv{
    display: grid;
    align-items: center;
    grid-template-columns:1fr auto auto auto auto;
    margin-top: 170px;
    padding: 10px;
    gap: 100px;
    border: 1px solid white;

}
.checkbox{
    position: relative;
    width: 27px;
    height: 26.5px;
    text-align: center;
    top: 8px;
    left:-5px;
    right:55px;
    margin: 0;
}
.completion-date{
    position: relative;
    width: 150px;
    height: 25px;
    gap: 10px;;
}